<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false" 
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="tests/bootstrap.php" 
    processIsolation="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="SimpleValidator Test Suite">
            <directory>tests/SimpleValidator/</directory>
        </testsuite>
    </testsuites>
</phpunit>
